<div id="about" class="page home" data-pos="home">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                
                <div class="row">
                    <div class="col-sm-2 visible-sm"></div>
                    <div class="col-sm-8 col-md-5">
                        <div class="biothumb">
                            <img alt="image" src="img/personal/06.jpg"  class="img-responsive">
                            <div class="overlay">
                                
                                <h1 class="">Jennifer Doe</h1>
                                <ul class="list-unstyled">
                                    <li>Graduate School of Business</li>
                                    <li>Knight Management Center</li>
                                    <li>Stanford University</li>
                                </ul>
                            </div> 
                            
                               
                        </div>
                        
                    </div>
                    <div class="clearfix visible-sm visible-xs"></div>
                    <div class="col-sm-12 col-md-7">
                        <h3 class="title">Bio</h3>
                        <p>A social psychologist and marketer, Jennifer Doe is the General Atlantic Professor of Marketing and Ormond Family Faculty at Stanford University’s Graduate School of Business. Her research spans time, money and happiness. She focuses on questions such as: What actually makes people happy, as opposed to what they think makes them happy? </p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor.sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>  
                    
                </div>
            </div>        
        </div>
    </div>
</div>