<div id="wrapper">

 <a href="#sidebar" class="mobilemenu"><i class="fa fa-navicon"></i></a>

    <div id="sidebar">
        <div id="main-nav">
            <div id="nav-container">
                <div id="profile" class="clearfix">
                    <div class="portrate hidden-xs"></div>
                    <div class="title">
                        <h2>Jennifer Doe</h2>
                        <h3>Stanford University</h3>
                    </div>
                    
                </div>
				
                {% assign pages = site.menu | sort:"weight"  %}
				<ul id="navigation">
				
                    
                    {% for menu_item in pages %} <!-- sort items according to weight -->
                        <!--<li>
                          <a href="{% if menu_item.link contains '.' %}
                                        {{menu_item.link}} 
                                      {% else %}
                                        #{{menu_item.link}}
                                      {% endif %}">
                              <div class="{{ menu_item.icon }}"></div>
                            <div class="text">{{ menu_item.title }}</div>
                          </a>
                        </li>  --> 
                    
                    {% endfor %}

                    <!-- sort items according to weight -->
                        <li>
                          <a href="../#about">
                              <div class="icon fa fa-home"></div>
                            <div class="text">About</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li class="currentmenu">
                          <a href="./#resume">
                              <div class="icon fa fa-edit"></div>
                            <div class="text">Resume</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="blog.html">
                              <div class="icon fa fa-quote-right"></div>
                            <div class="text">Blog</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="/#projects">
                              <div class="icon fa fa-desktop"></div>
                            <div class="text">Projects</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="#gallery">
                              <div class="icon fa fa-picture-o"></div>
                            <div class="text">Gallery</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="#publications">
                              <div class="icon fa fa-edit"></div>
                            <div class="text">Publications</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="#contact">
                              <div class="icon fa fa-calendar"></div>
                            <div class="text">Contact</div>
                          </a>
                        </li>   
                    
                     <!-- sort items according to weight -->
                        <li>
                          <a href="download_cv.pdf">
                              <div class="icon fa fa-download"></div>
                            <div class="text">Download CV</div>
                          </a>
                        </li>   

                   
                </ul>
				<!--<div id="copyright">Copyright text here</div> -->>
            </div>  
			
        </div>
        
        <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
		
    </div> 

<div id="main">